.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .userLink {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #fff;
    }

    .link {
      position: absolute;
      top: 20px;
      height: 50px;
      padding: 0 20px;
      background: transparent;
      backdrop-filter: blur(20px);
      color: #e9fbf9;
      border: 2px solid hsla(0, 0%, 8%, 0);
      border-radius: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.2s cubic-bezier(0.39, 0.575, 0.565, 1),
        border-color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);

      &:hover {
        border-color: #fff;
      }

      &.goods {
        left: 20px;
      }

      &.login {
        color: #23f7dd;
        right: 20px;

        &:hover {
          color: #000;
          background-color: #23f7ded3;
          border-color: #23f7ded3;
        }
      }

      &.userMenu {
        right: 20px;
        &.open {
          border-color: #fff;
        }

        .name {
          padding-top: 1px;
        }
      }

      .menuItem {
        text-align: center;
        padding: 15px;
        background: transparent;
        backdrop-filter: blur(20px);
        color: #fff;
        font-family: "Open_Sans", sans-serif;
        font-size: 16px;

        &:hover {
          text-decoration: underline;
        }

        &.profile {
          border-radius: 16px 16px 0 0;
        }

        &.logout {
          border-radius: 0 0 16px 16px;
          border: none;
          cursor: pointer;
        }
      }
    }
  }
}
